/* UNIVERSAL */

body {
  background-color: #FFF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
  margin: 0px 0px 0px 3px;
}

#root {
  width: 100%;
}

div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/* TRIP LIST */

.homePageDiv {
  margin-top: 100px;

}

.tripListDiv {
  flex-wrap: wrap;
}

.tripBannerDiv {
  border: 1px grey solid;
  color: #1D3124;
  width: 600px;
  height: 350px;
  margin-bottom: 50px;
  justify-content: flex-end;
  background-color: #F3CFC6;

}

.tripBannerDiv:hover {
  background-color: #f3cfc687;
}

.tripBannerDiv div {
  background-color: #FFF;
  align-items: center;
  padding: 10px;
}

.tripTitleDiv {
  font-size: 30px;
}

/* TRIP DETAILS */

.tripPageDiv {
  margin-top: 100px;
  flex-wrap: wrap;
}

.tripDetailsButtons {
  flex-direction: row;
  align-self: flex-start;
}

.locationDiv {
  border: 1px grey solid;
  padding: 10px;
  margin: 30px 0px;
  width: 500px;
}

/* MENU */

.menuButtonsDiv {
  flex-direction: row;
  font-size: 18px;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px grey solid;
}

.menuButtonsDiv div {
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 0px 5px;
}

.menuButtonsDiv a {
  margin: 0px 3px 0px 3px;
  text-decoration: none;
  background-color: #F3CFC6;
  color: black;
  padding: 3px 10px;
}

.menuButtonsDiv a:hover {
  background-color: #f3cfc687;
}

.menuButtonsDiv button:hover {
  background-color: #f3cfc687;
}

.menuButtonsDiv button {
  margin: 0px 3px 0px 3px;
  background-color: #F3CFC6;
  border: none;
  font-size: 18px;
  padding: 3px 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}